@page "/Credits"

@using System.Text.Json;
@using System.Text.Json.Serialization;
@using System.IO;

@inject Services.MagicSiteServices.WebsiteConfig config

@if (config.info.creditsPage)
{
    @if (config.info.creditsPageTitle != null)
    {
        <h2>@config.info.creditsPageTitle</h2>
    }

<div class="credits-box content-box">
    @if (creditorsSorted == null)
    {
        <p class="loading-bar">@config.info.loadingText</p>
    }
    else
    {
        <p>
            @info.creditsIntro
        </p>
        <div class="credits-flex" style="@($"height: {(flexHeight)}px")">

            @foreach (string creditor in creditorsSorted)
            {
                <div class="credits-item">
                    @creditor
                </div>
            }
        </div>

        <div class="credits-flex mobile" style="@($"height: {(mobileFlexHeight)}px")">

            @foreach (string creditor in creditorsSorted)
            {
                <div class="credits-item">
                    @creditor
                </div>
            }
        </div>
    }
</div>

    @code {
        private class CreditsInfo
        {
            public string[] creditors { get; set; }
            public string creditsIntro { get; set; }
            public bool creditsRandom { get; set; }
        }

        private CreditsInfo info;

        Random rand = new Random();

        private List<string> creditorsSorted;

        private int flexHeight {
            get
            {
                if (creditorsSorted == null)
                    return 0;

                return (creditorsSorted.Count / 5) * 44;
            }
        }

        private int mobileFlexHeight
        {
            get
            {
                if (creditorsSorted == null)
                    return 0;

                return (creditorsSorted.Count / 2) * 44;
            }
        }

        protected override async Task OnInitializedAsync()
        {
            using (FileStream fs = File.OpenRead("wwwroot/website_info/credits.json"))
            {
                info = await JsonSerializer.DeserializeAsync<CreditsInfo>(fs);
            }

            if (info.creditsRandom)
                creditorsSorted = info.creditors.OrderBy(p => rand.Next()).ToList();
            else
                creditorsSorted = info.creditors.ToList();
        }
    }
}