@page "/TokenBasicSpoiler"

@inject Services.MagicSiteServices.CardDatabase CardDatabase
@inject Services.MagicSiteServices.WebsiteConfig config

@if (config.info.tokenBasicSpoilerPage)
{
    <button class="move-to-top" type="button" onclick="document.getElementById('top-of-page').scrollIntoView({behavior:'smooth'})">
        To Top
    </button>

    <div id="top-of-site-pixel-anchor"></div>

    @if (config.info.tokenBasicSpoilerPageBasicsFirst)
    {
        @if (config.info.tokenBasicSpoilerPageBasicsTitle != null)
        {
            <h2>@config.info.tokenBasicSpoilerPageBasicsTitle</h2>
        }

        <SpoilerHolder cards="@CardDatabase.Basics" holderClass="basics_spoiler" />

        @if (@config.info.tokenBasicSpoilerPageTokensTitle != null)
        {
            <h2>@config.info.tokenBasicSpoilerPageTokensTitle</h2>
        }

        <SpoilerHolder cards="@CardDatabase.Tokens" holderClass="tokens_spoiler" />
    }
    else
    {
        @if (@config.info.tokenBasicSpoilerPageTokensTitle != null)
        {
            <h2>@config.info.tokenBasicSpoilerPageTokensTitle</h2>
        }

        <SpoilerHolder cards="@CardDatabase.Tokens" holderClass="tokens_spoiler" />

        @if (config.info.tokenBasicSpoilerPageBasicsTitle != null)
        {
            <h2>@config.info.tokenBasicSpoilerPageBasicsTitle</h2>
        }

        <SpoilerHolder cards="@CardDatabase.Basics" holderClass="basics_spoiler" />
    }
}