@page "/World"

@using System.Text.Json;
@using System.Text.Json.Serialization;
@using System.IO;

@inject Services.MagicSiteServices.WebsiteConfig config

@if (worldSections == null)
{
    <p class="loading-bar">@config.info.loadingText</p>
}
else
{
    <p><a href="https://inkarnate.com/m/4L0b2y--rakoa/">Rakoa World Map</a></p>

    <div class="page-tab-selector">
        @for (int i = 0; i < worldSections.Length; i++)
        {
            int iLock = i;
            <button class="@(selectedIndex == iLock ? "active" : "")" @onclick="@(e => selectedIndex = iLock)">
                @worldSections[iLock].sectionName
            </button>
        }
    </div>

    @for (int i = 0; i < worldSections.Length; i++)
    {
        int iLock = i;
        <WorldSection Title="@worldSections[iLock].sectionName" JsonFileName="@worldSections[iLock].sectionJSONName" Description="@worldSections[iLock].sectionDescription" Displayed="@(selectedIndex == iLock)" />
    }
}
@code {
    private class WorldSectionInfo
    {
        public string sectionName { get; set; }
        public string sectionJSONName { get; set; }
        public string sectionDescription { get; set; }
    }

    private WorldSectionInfo[] worldSections;

    private int selectedIndex = 0;

    protected override async Task OnInitializedAsync()
    {
        using (FileStream fs = File.OpenRead("wwwroot/website_info/worldsections.json"))
        {
            worldSections = await JsonSerializer.DeserializeAsync<WorldSectionInfo[]>(fs);
        }
    }
}